#page {
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:'cabecalho cabecalho' 
                        'navegacao conteudo'
                        'rodape rodape';
      
}

#page > header { 
    grid-area: cabecalho;
    background: #363636;
    color: white;
    text-align: center; 
}

#page > main {
    grid-area: conteudo;
    background: gray;
    color: black;
}

#page > nav {
    grid-area: navegacao;
    background: gray;
}

nav > a {
    color: white;
    margin-bottom: 1px;
    background: #363636;
}

nav > a:hover {
    color: black;
    background: gray;
}

#page > footer {
    grid-area: rodape;
    background: #363636;
    color: white;
    text-align: center;
}

.decks {
    background: #FFFAFA;
    margin-top: 20px;
    height: 8vh;  
    width: 80%; 
    padding: 2px; 
}

.decksAdd {
    background: #FFFAFA;
    margin-top: 20px;
    height: 26vh;  
    width: 80%;   
    padding: 5px;
}
.decksAdd > div {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 2px;
}

.botao {
    float: right;

}

.btn {
    margin: 5px;

}

