#page {
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:'cabecalho cabecalho' 
                        'navegacao conteudo'
                        'rodape rodape';
      
}

#page > header { 
    grid-area: cabecalho;
    background: #363636;
    color: white;
    text-align: center; 
    width: auto;
    height: 10vh;
}

#page > main {
    grid-area: conteudo;
    background: rgb(131, 128, 128);
    color: black;
    width: auto;
   
}

#page > nav {
    grid-area: navegacao;
    background: gray;
    width: auto;
    
}

nav > a {
    color: white;
    margin-top: 2px;
    background: #363636;
    border-radius: 5px;
}

nav > a:hover {
    color: black;
    background: gray;
}

#page > footer {
    grid-area: rodape;
    background: #363636;
    color: white;
    text-align: center;
    width: auto;
    height: 10vh;
}

.table {
    background: #FFFAFA;
    margin-top: 1%;
    height: auto;  
    width: 100%; 
    padding: 1%; 
    margin: 0 auto;
    border-radius: 5px;
}

.decksAdd {
    background: #FFFAFA;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 26vh;  
    width: auto;   
    padding: 1%;
    border-radius: 5px;
    margin: 0 auto;
}

.review {
    margin-top: 4%; 
    margin-bottom: 1%;
    height: 20vh;
    width: 80%;
    background: #FFFAFA;
    text-align: center; 
    border-radius: 5px;  
    box-shadow: 5px 6px #D3D3D3;
}
.botao {
    float: right;
    margin: 1%;

}

.btRev > button {
    margin-right: 1%;
}

